


    <form [formGroup]="form">
  <!-- old way   <form (ngSubmit)="onSubmit()" [formGroup]="form">  -->
    <ion-list>
      <div *ngFor="let question of questions;  let i = index;"  >
        <div  *ngIf="question.section == 'User Information'"  >
            <!-- <ion-item-divider color="dark"  *ngIf="question.header == true"  text-wrap (click)="toggleGroup(i)"  >
                  <ion-icon color="success" item-right [name]="isGroupShown(i) ? 'arrow-dropdown' : 'arrow-dropright'"></ion-icon>
                  <h2>   {{question.Section}}  </h2>
            </ion-item-divider> -->
             <!-- [ngClass]="{hide: isGroupShown(i)}" -->
            <div *ngIf="question.section"   [ngClass]="question.section"  >
              <df-question [question]="question" [form]="form"  ></df-question>
            </div>
        </div>
      </div>
      <div *ngFor="let question of questions;  let i = last;"  >
        <div  *ngIf="question.section == 'Chemical Table'" >
            <ion-item-divider color="dark"  *ngIf="question.header == true"  text-wrap (click)="toggleGroup(i)" >
                  <!-- <ion-icon color="success" item-right [name]="isGroupShown(i) ? 'arrow-dropdown' : 'arrow-dropright'"></ion-icon> -->
                  <h2>   {{question.section}}</h2>
            </ion-item-divider>
            <div  *ngIf="question.section" [ngClass]="question.section" >
              <df-question [question]="question" [form]="form"  ></df-question>
            </div>
        </div>
      </div>
      <div *ngFor="let question of questions;  let i = last;"  >
        <div  *ngIf="question.section == 'Constituents Table'" >
            <ion-item-divider color="dark"  *ngIf="question.header == true"  text-wrap (click)="toggleGroup(i)" >
                  <ion-icon color="success" item-right [name]="isGroupShown(i) ? 'arrow-dropdown' : 'arrow-dropright'"></ion-icon>
                  <h2>   {{question.section}}</h2>
            </ion-item-divider>
            <div  *ngIf="question.section" [ngClass]="question.section" >
              <df-question [question]="question" [form]="form"  ></df-question>
            </div>
        </div>
      </div>
      <div *ngFor="let question of questions;  let i = last;"  >
        <div  *ngIf="question.section == 'Exposure Limits'" >
            <ion-item-divider color="dark"  *ngIf="question.header == true"  text-wrap (click)="toggleGroup(i)" >
                  <ion-icon color="success" item-right [name]="isGroupShown(i) ? 'arrow-dropdown' : 'arrow-dropright'"></ion-icon>
                  <h2>   {{question.section}}</h2>
            </ion-item-divider>
            <div  *ngIf="question.section" [ngClass]="question.section" >
              <df-question [question]="question" [form]="form"  ></df-question>
            </div>
        </div>
      </div>
      <div *ngFor="let question of questions;  let i = last;"  >
        <div  *ngIf="question.section == 'Working Conditions'" >
            <ion-item-divider color="dark"  *ngIf="question.header == true"  text-wrap (click)="toggleGroup(i)" >
                  <ion-icon color="success" item-right [name]="isGroupShown(i) ? 'arrow-dropdown' : 'arrow-dropright'"></ion-icon>
                  <h2>   {{question.section}}</h2>
            </ion-item-divider>
            <div  *ngIf="question.section" [ngClass]="question.section" >
              <df-question [question]="question" [form]="form"  ></df-question>
            </div>
        </div>
      </div>
      <div *ngFor="let question of questions;  let i = last;"  >
        <div  *ngIf="question.section == 'Task Table'" >
            <ion-item-divider color="dark"  *ngIf="question.header == true"  text-wrap (click)="toggleGroup(i)" >
                  <ion-icon color="success" item-right [name]="isGroupShown(i) ? 'arrow-dropdown' : 'arrow-dropright'"></ion-icon>
                  <h2>   {{question.section}}</h2>
            </ion-item-divider>
            <div  *ngIf="question.section" [ngClass]="question.section" >
              <df-question [question]="question" [form]="form"  ></df-question>
            </div>
        </div>
      </div>
      <div *ngFor="let question of questions;  let i = last;"  >
        <div  *ngIf="question.section == 'Chemical Risk Ranking'" >
            <ion-item-divider color="dark"  *ngIf="question.header == true"  text-wrap (click)="toggleGroup(i)" >
                  <ion-icon color="success" item-right [name]="isGroupShown(i) ? 'arrow-dropdown' : 'arrow-dropright'"></ion-icon>
                  <h2>   {{question.section}}</h2>
            </ion-item-divider>
            <div  *ngIf="question.section" [ngClass]="question.section" >
              <df-question [question]="question" [form]="form"  ></df-question>
            </div>
        </div>
      </div>
      <div *ngFor="let question of questions;  let i = last;"  >
        <div  *ngIf="question.section == 'Task Risk Ranking'" >
            <ion-item-divider color="dark"  *ngIf="question.header == true"  text-wrap (click)="toggleGroup(i)" >
                  <ion-icon color="success" item-right [name]="isGroupShown(i) ? 'arrow-dropdown' : 'arrow-dropright'"></ion-icon>
                  <h2>   {{question.section}}</h2>
            </ion-item-divider>
            <div  *ngIf="question.section" [ngClass]="question.section" >
              <df-question [question]="question" [form]="form"  ></df-question>
            </div>
        </div>
      </div>
      <div *ngFor="let question of questions;  let i = last;"  >
        <div  *ngIf="question.section == 'Local Exhaust Ventilation'" >
            <ion-item-divider color="dark"  *ngIf="question.header == true"  text-wrap (click)="toggleGroup(i)" >
                  <ion-icon color="success" item-right [name]="isGroupShown(i) ? 'arrow-dropdown' : 'arrow-dropright'"></ion-icon>
                  <h2>   {{question.section}}</h2>
            </ion-item-divider>
            <div  *ngIf="question.section" [ngClass]="question.section" >
              <df-question [question]="question" [form]="form"  ></df-question>
            </div>
        </div>
      </div>
      <div *ngFor="let question of questions;  let i = last;"  >
        <div  *ngIf="question.section == 'Dilution'" >
            <ion-item-divider color="dark"  *ngIf="question.header == true"  text-wrap (click)="toggleGroup(i)" >
                  <ion-icon color="success" item-right [name]="isGroupShown(i) ? 'arrow-dropdown' : 'arrow-dropright'"></ion-icon>
                  <h2>   {{question.section}}</h2>
            </ion-item-divider>
            <div  *ngIf="question.section" [ngClass]="question.section" >
              <df-question [question]="question" [form]="form"  ></df-question>
            </div>
        </div>
      </div>

      <div *ngFor="let question of questions;  let i = last;"  >
        <div  *ngIf="question.section == 'Protective Gloves'" >
            <ion-item-divider color="dark"  *ngIf="question.header == true"  text-wrap (click)="toggleGroup(i)" >
                  <ion-icon color="success" item-right [name]="isGroupShown(i) ? 'arrow-dropdown' : 'arrow-dropright'"></ion-icon>
                  <h2>   {{question.section}}</h2>
            </ion-item-divider>
            <div  *ngIf="question.section" [ngClass]="question.section" >
              <df-question [question]="question" [form]="form"  ></df-question>
            </div>
        </div>
      </div>
      <div *ngFor="let question of questions;  let i = last;"  >
        <div  *ngIf="question.section == 'Protective Clothing'" >
            <ion-item-divider color="dark"  *ngIf="question.header == true"  text-wrap (click)="toggleGroup(i)" >
                  <ion-icon color="success" item-right [name]="isGroupShown(i) ? 'arrow-dropdown' : 'arrow-dropright'"></ion-icon>
                  <h2>   {{question.section}}</h2>
            </ion-item-divider>
            <div  *ngIf="question.section" [ngClass]="question.section" >
              <df-question [question]="question" [form]="form"  ></df-question>
            </div>
        </div>
      </div>
      <div *ngFor="let question of questions;  let i = last;"  >
        <div  *ngIf="question.section == 'Respirator Protection'" >
            <ion-item-divider color="dark"  *ngIf="question.header == true"  text-wrap (click)="toggleGroup(i)" >
                  <ion-icon color="success" item-right [name]="isGroupShown(i) ? 'arrow-dropdown' : 'arrow-dropright'"></ion-icon>
                  <h2>   {{question.section}}</h2>
            </ion-item-divider>
            <div  *ngIf="question.section" [ngClass]="question.section" >
              <df-question [question]="question" [form]="form"  ></df-question>
            </div>
        </div>
      </div>
      <div *ngFor="let question of questions;  let i = last;"  >
        <div  *ngIf="question.section == 'Direct Reading Exposure Monitoring'" >
            <ion-item-divider color="dark"  *ngIf="question.header == true"  text-wrap (click)="toggleGroup(i)" >
                  <ion-icon color="success" item-right [name]="isGroupShown(i) ? 'arrow-dropdown' : 'arrow-dropright'"></ion-icon>
                  <h2>   {{question.section}}</h2>
            </ion-item-divider>
            <div  *ngIf="question.section" [ngClass]="question.section" >
              <df-question [question]="question" [form]="form"  ></df-question>
            </div>
        </div>
      </div>
      <div *ngFor="let question of questions;  let i = last;"  >
        <div  *ngIf="question.section == 'Exposure Data'" >
            <ion-item-divider color="dark"  *ngIf="question.header == true"  text-wrap (click)="toggleGroup(i)" >
                  <ion-icon color="success" item-right [name]="isGroupShown(i) ? 'arrow-dropdown' : 'arrow-dropright'"></ion-icon>
                  <h2>   {{question.section}}</h2>
            </ion-item-divider>
            <div  *ngIf="question.section" [ngClass]="question.section" >
              <df-question [question]="question" [form]="form"  ></df-question>
            </div>
        </div>
      </div>

 <!--  Wether to save and move to next qestion or to submit form and other questions -->
   <div *ngFor="let question of questions;"  >
     <div *ngIf="question.action == 'add'">
       <ion-item>
         <button ion-button large block [disabled]="!form.valid" (click)="onSave()"> Add {{question.key}} </button>
       </ion-item>
     </div>
      <div *ngIf="question.action == 'save'">
        <ion-item>
          <button ion-button large block [disabled]="!form.valid" (click)="onSave()"> Next </button>
        </ion-item>
      </div>
      <div *ngIf="question.action == 'submit'" >
        <ion-item>
          <button ion-button large block [disabled]="!form.valid" (click)="onSubmit()"> Submit </button>
        </ion-item>
      </div>
   </div>

    </ion-list>

  </form>

  <div *ngIf="payLoad" class="form-row">
    <strong>Saved the following values</strong> <br> {{payLoad}}
  </div>
