
  <form (ngSubmit)="onSubmit()" [formGroup]="form">

    <ion-list>
      <div *ngFor="let question of questions;  let i = index;"  >
        <div  *ngIf="question.section == 'user-information'"  >
            <ion-item-divider color="dark"  *ngIf="question.header == true"  text-wrap (click)="toggleGroup(i)"  >
                  <ion-icon color="success" item-right [name]="isGroupShown(i) ? 'arrow-dropdown' : 'arrow-dropright'"></ion-icon>
                  <h2>   {{question.section}}  </h2>
            </ion-item-divider>
             <!-- [ngClass]="{hide: isGroupShown(i)}" -->
            <div *ngIf="question.section"   [ngClass]="question.section"  >
              <df-question [question]="question" [form]="form"  ></df-question>
            </div>
        </div>
      </div>
      <div *ngFor="let question of questions;  let i = last;"  >
        <div  *ngIf="question.section == 'Chemical Table'" >
            <ion-item-divider color="dark"  *ngIf="question.header == true"  text-wrap (click)="toggleGroup(i)" >
                  <ion-icon color="success" item-right [name]="isGroupShown(i) ? 'arrow-dropdown' : 'arrow-dropright'"></ion-icon>
                  <h2>   {{question.section}}</h2>
            </ion-item-divider>
            <div class="hide" *ngIf="question.section" [ngClass]="{show: isGroupShown(i)}" >
              <df-question [question]="question" [form]="form"  ></df-question>
            </div>
        </div>
      </div>
      <ion-item>
        <button ion-button large block [disabled]="!form.valid"> Submit </button>
      </ion-item>
    </ion-list>

  </form>

  <div *ngIf="payLoad" class="form-row">
    <strong>Saved the following values</strong> <br> {{payLoad}}
  </div>
