// Ionic Variables and Theming. For more info, please see:
// http://ionicframework.com/docs/v2/theming/
@import "ionic.globals";


$grid-breakpoints: (
  sm: 0,
  md: 768px,
  lg: 1024px
);

$grid-max-widths: (
  sm: 420px,
  md: 720px,
  lg: 960px
);

$grid-columns:               12 !default;

$grid-padding-width:         10px !default;

$grid-padding-widths: (
  xs: $grid-padding-width,
  sm: $grid-padding-width,
  md: $grid-padding-width,
  lg: $grid-padding-width,
  xl: $grid-padding-width
) !default;

// Shared Variables
// --------------------------------------------------
// To customize the look and feel of this app, you can override
// the Sass variables found in Ionic's source scss files.
// To view all the possible Ionic variables, see:
// http://ionicframework.com/docs/v2/theming/overriding-ionic-variables/

// $text-color:        #000;
// $background-color:  #fff;
// $headings-font-weight: 300;

$base-color: #666;

$colors: (
  primary:   #444,
  secondary: #444,
  light:    lighten($base-color, 50%),
  dark:     darken($base-color, 10%),
  error-msg: darken($base-color, 10%),
  danger: #327eff
);

$ionicons-font-path: "../assets/fonts";
@import "ionicons";

.toast-message {
  white-space: pre-line;
  text-align: center;
}

 // MD Styles
 // .header, .header-md, ion-header{
 //   background-color: color($colors, primary) !important;
 //   background: color($colors, primary) !important;
 // }
.content-md {
    color: #fff;
    background-color: #b8c39c;
}
.toolbar-title-md {
    padding: 0 12px;
    font-size: 2rem;
    font-weight: 500;
    color: #fff !important;
}

.toolbar-background-md {
    color: #fff !important;
    border-color: #333 !important;
    background: #444 !important;
}


// ion-content,
// .input-wrapper,
// .item-inner,
// .item,
// ion-footer,
// ion-item,
// ion-label {
//   transition: all 1.1s ease;
//   background-color: #07ba3c !important;
//   background: #07ba3c !important;
//   color: black !important;
// }
// ion-list {
//   background-color: #fff;
// }
// .tabs-md .tabbar {
//     background: #07ba3c;
// }
